body {
  font-family: 'Roboto', sans-serif;
}

.voice-recorder {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2a2a2a;
}

.accordion-window {
  overflow-y: scroll;
  height: calc(100vh - 80px);
  margin-bottom: 2rem;
  scrollbar-width: none; /* For Firefox */
}

.accordion-window::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.accordion-container {
  margin-bottom: 1rem;
  background: linear-gradient(145deg, #3f3f3f, #1a1a1a);
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.recording-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  /* border-top: 1px solid #ddd; */ /* Commented out to remove the line */
  color: #ffffff;
}

.MuiAccordion-root {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
}

.MuiAccordionSummary-root {
  min-height: 48px;
  padding: 0;
  margin: 0;
}

.MuiAccordionSummary-content {
  margin: 0.25rem 0;
}

.MuiAccordionDetails-root {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

audio {
  width: 100%;
  max-width: 600px;
  height: 30px;
}

.mic-icon-recording {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
