body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.voice-recorder {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2a2a2a;
}

.accordion-window {
  overflow-y: scroll;
  /* height: calc(100vh - 80px); */
  margin-bottom: 1rem;
  scrollbar-width: none; /* For Firefox */
}

.accordion-window::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.accordion-container {
  margin-bottom: 0.4rem;
  background: linear-gradient(145deg, #3f3f3f, #1a1a1a);
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.recording-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  color: #ffffff;
}

.MuiAccordion-root {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
}

.MuiAccordionSummary-root {
  min-height: 48px;
  padding: 0;
  margin: 0;
}

.MuiAccordionSummary-content {
  margin: 0.25rem 0;
}

.MuiAccordionDetails-root {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

audio {
  width: 100%;
  max-width: 600px;
  height: 30px;
}

.mic-icon-recording {
  animation: pulse 1s infinite;
}

@keyframes ldio-h1iq9u09xeo {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-h1iq9u09xeo div { box-sizing: border-box!important }
.ldio-h1iq9u09xeo > div {
  position: absolute;
  width: 102.44px;
  height: 102.44px;
  top: 47.28px;
  left: 47.28px;
  border-radius: 50%;
  border: 7.88px solid #000;
  border-color: #85a2b6 transparent #85a2b6 transparent;
  animation: ldio-h1iq9u09xeo 1.0869565217391304s linear infinite;
}

.ldio-h1iq9u09xeo > div:nth-child(2), .ldio-h1iq9u09xeo > div:nth-child(4) {
  width: 82.74px;
  height: 82.74px;
  top: 57.13px;
  left: 57.13px;
  animation: ldio-h1iq9u09xeo 1.0869565217391304s linear infinite reverse;
}
.ldio-h1iq9u09xeo > div:nth-child(2) {
  border-color: transparent #bbcedd transparent #bbcedd
}
.ldio-h1iq9u09xeo > div:nth-child(3) { border-color: transparent }
.ldio-h1iq9u09xeo > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-h1iq9u09xeo > div:nth-child(3) div:before, .ldio-h1iq9u09xeo > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 7.88px;
  height: 7.88px;
  top: -7.88px;
  left: 39.4px;
  background: #85a2b6;
  border-radius: 50%;
  box-shadow: 0 94.56px 0 0 #85a2b6;
}
.ldio-h1iq9u09xeo > div:nth-child(3) div:after {
  left: -7.88px;
  top: 39.4px;
  box-shadow: 94.56px 0 0 0 #85a2b6;
}

.ldio-h1iq9u09xeo > div:nth-child(4) { border-color: transparent; }
.ldio-h1iq9u09xeo > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-h1iq9u09xeo > div:nth-child(4) div:before, .ldio-h1iq9u09xeo > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 7.88px;
  height: 7.88px;
  top: -7.88px;
  left: 29.55px;
  background: #bbcedd;
  border-radius: 50%;
  box-shadow: 0 74.86px 0 0 #bbcedd;
}
.ldio-h1iq9u09xeo > div:nth-child(4) div:after {
  left: -7.88px;
  top: 29.55px;
  box-shadow: 74.86px 0 0 0 #bbcedd;
}
.loadingio-spinner-double-ring-zgzxhburbym {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-h1iq9u09xeo {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-h1iq9u09xeo div { box-sizing: content-box; }
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0)
  } 
  50% { 
    transform: scale(1.0)
  }
}

.banner {
  position: fixed;
  bottom: 70px; 
  left: -10%;   
  right: -10%;  
  height: 35px; 
  line-height: 35px; 
  text-align: center;
  background: linear-gradient(135deg, rgba(245,245,245,0.9), rgba(255,255,255,0.9), rgba(245,245,245,0.9));
  color: #2c2c2c;
  font-weight: 500; 
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 25px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08); 
  transition: transform 0.4s, box-shadow 0.4s; 
}

.banner:hover {
  transform: translateY(-5px); 
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.12); 
}

.scrolling-banner {
  animation: scrollBanner 12s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; 
  bottom: 5px; 
}

@keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%); 
  }
  100% {
    transform: translateX(-100%);
  }
}


.fade-in-out {
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}